body{
    background-color: blue;
    }

#center{
    background-color: lightblue;
    color: red;
    padding: 100px;
    }

.nav{
    background-color: black;
    display: inline-block;
    }

.header {
    background-color: navy;
    color: white;
    padding: 100px;
    text-align: center;
    }

.footer{
    background-color: navy;
    color: white;
    padding: 100px;
    text-align: center;
    }
