body{
    background-color: blue;
    background-attachment: fixed;
    }

#center{
    background-color: lightblue;
    color: red;
    padding: 100px;
    }

.nav{
    background-color: black;
    display: inline-block;
    }

.background1{
    background-repeat: no-repeat;
    background-image: url(Images/136181723.jpg);
    background-size: contain;
    }

.summary{
    display: inline-block;
    background-color: black;
    width: 100%;
    }

.header {
    background-color: navy;
    color: white;
    padding: 100px;
    text-align: center;
    }

.footer{
    background-color: navy;
    color: white;
    padding: 100px;
    text-align: center;
    }
