body{
    background-color: blue;
    }

.main{
    display: inline-block;
    width: 100%;
    }

.nav{
    background-color: black;
    display: inline-block;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    display: block;
    }

li a {
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    }

ul li a{
    colour: yellow;
    }

/* Change the link color on hover */
li a:hover{
    background-color: #555;
    color: white;
    }

.background1{
    background-repeat: no-repeat;
    background-image: url(https://images.wallpaperscraft.com/image/india_akshardham_temple_beautiful_top_view_panorama_85106_1920x1080.jpg);
    background-size: contain;
    }

.summary{
    display: inline-block;
    background-color: black;
    width: 100%;
    }
